html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    /*background-image: url("../images/bg02.png");*/
}
body {
    line-height: 1;
    background: #fff;
}
body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    animation: none !important;
    transition: none !important;
}
body, input, textarea {
    color: #a2a2a2;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}
article,header,section {
    display: block;
}
h1, h2, h3 {
    color: #787878;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 1em 0;
}
h1 {
    font-size: 2em;
    line-height: 1.5em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.25em;
    line-height: 1.5em;
}
h1 a, h2 a, h3 a {
    color: inherit;
    text-decoration: none;
}
strong {
    color: #787878;
    font-weight: 400;
}
a {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: #49bf9d;
    text-decoration: none;
}
a:hover {
    border-bottom-color: transparent;
    color: #49bf9d !important;
    text-decoration: none;
}
p {
    margin: 0 0 2em 0;
}
#zone_avatar_main{
    margin-top: 50px;
}

/*zone_top*/
#zone_search{
    margin-left: -209px;
}
#zone_search_icon{
    margin-top: 31px;
}
#search_bar{
    width: 900px;
    height: 50px;
    margin-left: 89px;
}
#icon_setting{
    position: absolute;
    width: 59px;
    margin-left: 30px;
    margin-top: 8px;
}
#icon_logout{
    position: absolute;
    width:40px;
    margin-left: 100px;
    margin-top: 8px;
}

/*zone_left*/
#image_avatar {
    width: 169px;
    height: 169px;
    border-radius: 169px;
    margin-top: 22px;
    margin-left: 30px;
}

/*zone_right*/
#btn_add_new_article{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #F5F5F5;
    background-color:  #0066FF;
    border-radius: 6px;
    border: 0;
}
#btn_newarticle {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 121px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #F5F5F5;
    background-color:  #0066FF;
    border-radius: 6px;
    border: 0;
}
#btn_my_articles{

    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #F5F5F5;
    background-color:  #0066FF;
    border-radius: 6px;
    border: 0;
    margin-left: 193px;
}
#btn_all_articles{

    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #F5F5F5;
    background-color:  #666666;
    border-radius: 6px;
    border: 0;

}
#justForButtom>*{
    float: left;
    position: relative;
    left: 30px;
    top: 20px;
}
#icon_welcome{
    width: 556px;
}
#newarticile_title{
    width: 500px;
    height: 50px;
}
#newarticile_content{
    width: 500px;
}





