body {
    /*background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Out-of-focus-wallpaper-hd-PIC-WPB004442.jpg");*/
    background-image: url("../images/milky-way-Morocco-8-24-2014-Besancon-Arnaud1.jpg");

    background-size: 100%;
    background-repeat: no-repeat;
}

#login_frame {
    width: 400px;
    height: 260px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
#image_logo {
    margin-top: 22px;
}

.label_input {
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #F5F5F5;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login_text_field {
    width: 247px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}

#btn_login {
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 121px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    color: #F5F5F5;
    background-color: #778899;
    border-radius: 6px;
    border: 0;
    margin-left: 3px;

}

#forget_pwd {
    font-size: 12px;
    color: #F5F5F5;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
    margin-right: 22px;

}

#forget_pwd:hover {
    color: blue;
    text-decoration: underline;
}

#login_control {
    padding: 0 60px;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    border: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
/*------------------------------------------------------------------*/
#signup_frame_signup {
    width: 400px;
    height: 500px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #F5F5F5;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.signup_text_field_name{
    width: 138px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}
#form_securityquestion{
    width: 150px;
    height: 28px;
    color: #999999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}
#form_dob_day{
    width: 56px;
    height: 28px;
    color: #999999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;

}
#form_dob_month{
    width: 56px;
    height: 28px;
    color: #999999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;

}
#form_dob_year{
    width: 88px;
    height: 28px;
    color: #999999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;

}

.signup_text_field_usernameemailpassword{
    width: 277px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}

#btn_signup{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 121px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #F5F5F5;
    background-color:  #778899;
    border-radius: 6px;
    border: 0;
    float: right;
    margin-right: 52px;

}

.gender_both{
    display: inline-block;
    margin-left: 16px;
    padding: 5px;
}

#signup_control{
    padding: 10px;

}

#countrySelect{
    width: 150px;
    height: 28px;
    color: #999999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}

/*---------------------------------------------------*/
#login_frame_resetpassword {
    width: 400px;
    height: 369px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #444444;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#btn_confirm {
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 122px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    color: #F5F5F5;
    background-color: #778899;
    border-radius: 6px;
    border: 0;
    margin-left: -159px;

}

.signup_text_field_verificationcode{
    width: 117px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
}

.verificationcode{
    display: inline-block;
    margin-left: 16px;
    padding: 5px;
}

#confirm_control{
    margin-left: 10px;
}