html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    line-height: 1;
    background: #fff;
}

body, input {
    color: #a2a2a2;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}

header,section {
    display: block;
}

h1, h2, h3 {
    color: #787878;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.5em;
}

p {
    margin: 0 0 2em 0;
}
#zone_avatar_main{
    margin-top: 50px;
}

/*zone_top*/
#zone_search{
    margin-left: -209px;
}
#zone_search_icon{
    margin-top: 31px;
}
#search_bar{
    width: 900px;
    height: 50px;
    margin-left: 89px;
}
#icon_setting{
    position: absolute;
    width: 59px;
    margin-left: 30px;
    margin-top: 8px;
}
#icon_logout{
    position: absolute;
    width:40px;
    margin-left: 100px;
    margin-top: 8px;
}

/*zone_left*/
#image_avatar {
    width: 169px;
    height: 169px;
    border-radius: 169px;
    margin-top: 22px;
    margin-left: 30px;
}

/*zone_right*/
.setting_text_field{
    width: 556px;
    height: 50px;
}
#btn_savechange {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 122px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    color: #F5F5F5;
    background-color: #0066FF;
    border-radius: 6px;
    border: 0;
    margin-right: 33px;
}
#form_securityquestion{
    width: 556px;
    height: 50px;
}

#btn_savechange_security {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 122px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    color: #F5F5F5;
    background-color: #0066FF;
    border-radius: 6px;
    border: 0;
    margin-right: 33px;
}
#btn_delet{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 189px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    color: #F5F5F5;
    background-color: #CC0000;
    border-radius: 6px;
    border: 0;
    margin-right: 33px;
}

.sub_title{
    display: inline;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    color: #666666;
}

#btn_change_avatar {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 122px;
    height: 38px;
    line-height: 25px;
    text-align: center;
    color: #F5F5F5;
    background-color: #00AA00;
    border-radius: 6px;
    border: 0;
    margin-top: 10px;
    margin-left: 31px;
}
#form_securityquestion{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #666666;
}